.corpo-agenda{
    margin-top: 3%;
    padding: 2%;
    background-color: rgb(0, 0, 0);
}

.txt-agenda{
    margin-bottom: 5%;
  
}

.h1-agenda{
    font-size: 100px;
    color: #04C4D9;
    text-decoration: underline  #04C4D9;
    text-shadow: 5px 5px #F26444;
    width: auto;
    text-align: left;
    margin-left: 2%; 

}

.card-agenda{
    background-color: #F26444;
    margin-left: 2%;
}

.card-text1{
    font-size: 35px;
}

.h5-titulo{
 font-size: 100px;
}
 
